{% extends 'base.html' %}

{% load bootstrap5 %}

{% block title %}
    Here's Your Recipe!
{% endblock %}

{% block content %}
    <div class="row m-3 mt-5">
        <div class="col-md-4">
            <div class="p-3 container">
                <h2 class="display-6">Your Ingredients</h2>
                <ul>
                {% for ingredient in ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %} 
                </ul>
            </div>

        </div>
         <div class="col-md-8">
            <div class="p-3 container">
                <h2 class="display-6">Here's your Recipe: {{recipe_name}}</h2>
                {% for line in recipe %}
                    <p class= "lead">{{ line }}</p>
                {% endfor %} 
            </div>
        </div>

    </div>
    <!-- Other Recipes -->
    <div class="m-4">
        <h2 class="display-4">Other ideas</h2>
        <div class="row">
            {% for meal in other_ideas %}
                <div class="col-md-4">
                    <div class="p-3 spread-container">
                        <img src=" {{meal.image}} " alt="{{meal.title}}" style="width:100%">
                        <div class="caption pt-2">
                            <h2> {{meal.title}} </h2>
                            <h6 class="lead"> Used Ingredients</h6>
                            <ul>
                                {% for ingredient in meal.usedIngredients %}
                                <li> {{ingredient}} </li>
                                {% endfor %}
                            </ul>  
                            <h6 class="lead"> Missing Ingredients</h6>
                            <ul>
                                {% for ingredient in meal.missedIngredients %}
                                <li> {{ingredient}} </li>
                                {% endfor %}
                            </ul>
                            <form action="#" method="get">
                                <!-- to be completed, need to make this button call generate_recipe with meal.usedIngredients+meal.missedIngredients as params  -->
                                 <input type="submit" class="btn btn-success" value="Find the Recipe &raquo;" name="generate_recipe">
                            </form>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
