{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load bootstrap5 %}

{% block title %}
    What are your ingredients!
{% endblock %}

{% block content %}
    <div class=" m-5 row">
        <div class="p3 container">
            <h1 class="display-4">Your Ingredients</h1>
            <form id="ingredient_form" method="post">

            <form id="language_form" method="post">
            {% csrf_token %}
            {{form as p}}
            Select a Language: 
                <select name="language"> 
                {{% if  %}
                    <option value="en-US">English</option> 
                    <option value="fr-FR">Français</option> 
                    <option value="ar-AE">لْعَرَبِيَّةُ</option> 
                    <option value="es-ES">Español</option> 
                    <option value="zh">普通话</option> 
                    <option value="hi-IN">हिन्दी</option> 
                    <option value="hi-IN">Italiano</option> 
                {% endif %}}
                </select> 
            </form>

            <form id="ingredient_form" method="post" action="." enctype="multipart/form-data">
    
                {% csrf_token %}
    
                {{ formset.management_form }}
                {% for form in formset %}
                <div class="ingredient-form">
                    {{ form|crispy }}
                    <button onclick="startConverting()" class='btn btn-info btn-sm' id="re"><span class="material-icons">mic</span></button>
                    <button class="align-self-center btn btn-danger delete-image-form my-1">Delete</button>
                </div>
                {% endfor %}
    
                <input type="submit" name="submit" value="Find a Recipe" class="btn btn-success" />
                <button id="add-ingredient-form" class="btn btn-primary my-3">Add Another Ingredient</button>
            </form>
        </div>
    </div>

    <script>
        let ingredientForm = document.querySelectorAll(".ingredient-form");
        let mainForm = document.querySelector("#ingredient_form");
        let addIngredientFormBtn = document.querySelector("#add-ingredient-form");
        let totalForms = document.querySelector("#id_form-TOTAL_FORMS");

        const submitFormBtn = document.querySelector('[type="submit"]');

        let formCount = ingredientForm.length-1;

        addIngredientFormBtn.addEventListener("click", function (event) {
            event.preventDefault();
            // Clone a New Form
            let newingredientForm = ingredientForm[0].cloneNode(true);
            let formRegex = RegExp(`form-(\\d){1}-`, 'g');
            
            formCount++;
            newingredientForm.innerHTML = newingredientForm.innerHTML.replace(formRegex, `form-${formCount}-`);

            // Insert New Form before the Submit button
            mainForm.insertBefore(newingredientForm, submitFormBtn);
            totalForms.setAttribute('value', `${formCount + 1}`);
        });

        mainForm.addEventListener("click", function (event) {
                if (event.target.classList.contains("delete-image-form")) {
                    event.preventDefault();
                    event.target.parentElement.remove();
                    formCount--;
                    updateForms();
                    totalForms.setAttribute('value', `${formCount + 1}`);
                }
            });

        function updateForms() {
                let count = 0;
                for (let form of imageForm) {
                    const formRegex = RegExp(`form-(\\d){1}-`, 'g');
                    form.innerHTML = form.innerHTML.replace(formRegex, `form-${count++}-`)
                }
            }
    </script>
{% endblock %}
