{% extends 'base.html' %}

{% load bootstrap5 %}

{% block title %}
    nutrition Information
{% endblock %}

{% block content %}
<div class="row m-3 mt-5">
    <div class="col-md-6">
        {% include 'recipe/_ingredients.html' %}
    </div>
    <div class="col-md-6">
        <div class="p-3 container">
            <h2 class="display-6">Nutritional Information</h2>
            <p>
            {% for nutrient, quantity in nutrition.items %}
                <strong>{{ nutrient }}</strong>: {{ quantity }}<br>
            {% endfor %} 
            </p>
        </div>
    </div>
</div>
{% endblock %}
